@media (min-width: 365px) and (max-width: 480px) {
   body {
       background-color: #264653;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       margin: 0 auto;
       max-width: 480px;
   }

   #container {
    margin: 0 auto;
     display: flex;
     flex-direction: column;
     position: relative;
     width: 100%;
     color: white;
     text-align: center;
     right: 0px;
     font-family: 'Times New Roman', Times, serif;
   }

   #inputDiv {
       display: flex;
       flex-direction: row;
       width: 100%;
   }

   #orderBtn {
       display: flex;
       height: 72px;
       width: 60%;
       justify-content: center;
       align-items: center;
   }

   #deleteDiv {
       display: flex;
   }

   #deleteBtn {
       right: 0px;
       width: 60%;
   }

   #searchDiv {
       display: flex;
   }

   #searchBtn {
       right: 0px;
       width: 60%;
   }

   .input {
       display: flex;
       position: relative;
       height: 30px;
   }

   img {
       width: 100%;
       height: auto;
   }

   input {
       font-size: 20px;
       height: 30px;
   }

   button {
       font-size: 20px;
       
   }
}

@media (min-width: 481px) {
  
    body {
        background-color:#264653;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    #container {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      position: relative;
      top: 0px;
      width: 50%;
      height: 800px;
      color: white;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
    }
 
    #inputDiv {
        align-self: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }
 
    #orderBtn {
        display: flex;
        height: 72px;
        width: 100%;
        right: 0px;
        justify-content: center;
        align-items: center;
    }
 
    #deleteDiv {
        align-self: center;
        display: flex;
        width: 100%;
    }
 
    #deleteBtn {
        right: 0px;
        width: 100%;
    }
 
    #searchDiv {
        align-self: center;
        display: flex;
        width: 100%;
    }
 
    #searchBtn {
        right: 0px;
        width: 100%;
    }
 
    .input {
        display: flex;
        position: relative;
        height: 30px;
    }
 
    img {
        width: 100%;
        height: auto;
    }
 
    input {
        font-size: 20px;
        height: 30px;
    }
 
    button {
        font-size: 20px;
        
    }
}

 @media (min-width: 481px) and (max-width: 709px) {
     
    #deleteEmailTxt {
        height: 45.5px;
    }

}