<html>

   <head>
   <link rel="stylesheet" href="/css/styles.css">

   <body>


       <!--Injecting the Partial page menu-->
      {{> menu}}

      <input type="text" />
      <input type="text" />
      <button>Login</button>
      
      <a href="/register">
         <button>Register</button>
      </a>


      <script src="/client.js"></script>
   </body>

</html>