
@media (min-width:320px) and (max-width:480px){
    #container{
        position:absolute;
        width:101%;
        height:1001%;
    }
}
@media (min-width:481px){
    #container{
        position: absolute;
        justify-content: center;
        align-items: center;
        width:480px;
        border-radius:25px;
    }
}

#container{
    display:flex;
    flex-direction:column;
    position:absolute;
    align-items:center;
    width:101%;
    left:-1px;
    top:-1px;
}

img {
    max-width: 100%;
    height: auto;
}

#hiddenUL {
    display: none;
}

